<!------------------------------------------------------------------------------ 
-- Name: William Rice 
-- Class: CIT 253 
-- Instructor: Bradly Karr 
-- Date: 11/21/22
-- Assignment: Final Assignment 
-- Dev Env: Arch Linux | Neovim | Docker php:7.4-apache mysql:8.0.31
-- Notes:  
--
-- This page contains the script 13.4 (footer.html) from the text book. 
------------------------------------------------------------------------------->

<!-- END CHANGABLE CONTENT -->
<?php 

// display general admin links ...
// - if the user is an adminstrator and it's not the logout.php page
// - or if the $loggedin variable is true (i.e, the user just logged
// in)

if((is_administrator() &&
    (basename($_SERVER['PHP_SELF']) != 'logout.php')) OR 
    (isset($loggedin) && $loggedin) ) {

    // Create the links:
    print '<hr><h3>Site Admin</h3><p><a href="add_quote.php">Add Quote</a></p>
    <->
    <a href="view_quotes.php">View All Quotes</a> <->
    <a href="logout.php">Logout</a></p>';
    }

    ?>

</div> <!-- container -->
<div id="footer">
  Content &copy; 2022
</div>
</body>

</html>
