<!------------------------------------------------------------------------------ 
-- Name: William Rice 
-- Class: CIT 253 
-- Instructor: Bradly Karr 
-- Date: 11/21/22
-- Assignment: Final Assignment 
-- Dev Env: Arch Linux | Neovim | Docker php:7.4-apache mysql:8.0.31
-- Notes:  
--
-- This page contains the script 13.3 (header.html) from the text book. 
------------------------------------------------------------------------------->

<?php

// Include the functions script
include('includes/functions.php'); ?>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <?php if(defined('TITLE')) { print TITLE; } else { print 'My Site of
      Quotes' ; }?>
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" media="all" rel="stylesheet" />
  </head>

  <body>
    <div id="container">
      <h1>My Site of Quotes</h1>
      <br />
      <!-- BEGIN CHANGEABLE CONTENT -->
    </div>
  </body>
</html>
