<?php

// Include the functions script
include('includes/functions.php'); ?>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      < ?php // PHP title if defined if(defined('TITLE')) { print TITLE; } else
      { print 'My Site of Quotes' ; } <?
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" media="all" rel="stylesheet" />
  </head>

  <body>
    <div id="container">
      <h1>My Site of Quotes</h1>
      <br />
      <!-- BEGIN CHANGEABLE CONTENT -->
